<ion-view view-title="Lista de pedidos" cache-view="false">
	<ion-content>
		<div class="has-header" style="text-align:right">
			<button class="button" ng-click="logout()">Cerrar Sesión</button>
		</div>
		<div style="text-align:center">
		<h3>{{placa}}</h3>
		<br>
		<h5> {{pedidos.length}} pedidos pendientes</h5>
		<br>		
		<div>
			<label class="item item-input"><i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="search" ng-model="buscar"></label>
		</div>
		</div>
		<br>
		<div>
			<div class="list">
				<div class="item item-divider" style="text-align:center">
					Pedidos
				</div>
				<ion-list>
					<ion-item ng-repeat="pedido in pedidos | filter:buscar" href="#/pedido/{{pedido.consecutivo}}">
						{{pedido.nombre}}<br>{{pedido.cedula}}
					</ion-item>
				</ion-list>
				
			</div>
		</div>
	</ion-content>
</ion-view>