<ion-view view-title="Pedido" class="has-header">
	<ion-content overflow-scroll="true">
		<div style="font-size:100%; background:{{color}}; ">
			<div class="row">
				<div class="col tableindex tablecontent">Consecutivo:</div>
				<div class="col tablecontent">{{pedido.consecutivo}}</div>
			</div>
			<div class="row" ng-if="tipo=='P' || tipo=='A'">
				<div class="col tableindex tablecontent">Orden de Cargue:</div>
				<div class="col tablecontent">{{pedido.id_ocargue}}</div>
			</div>
			<div class="row" ng-if="tipo=='R' || tipo=='A'">
				<div class="col tableindex tablecontent">Orden de Cargue:</div>
				<div class="col tablecontent">{{pedido.id_ocarguerec}}</div>
			</div>
			<div class="row">
				<div class="col tableindex tablecontent">Cajas:</div>
				<div class="col tablecontent">{{pedido.cajas}}</div>
				<div class="col tableindex tablecontent">D.Ident:</div>
				<div class="col tablecontent">{{pedido.cedula}}</div>
			</div>
			<div class="row">
				<div class="col tableindex tablecontent">Cliente:</div>
				<div class="col-75 tablecontent">{{pedido.nombre}}</div>
			</div>
			<div class="row">
				<div class="col tableindex tablecontent">Dirección:</div>
				<div class="col-60 tablecontent">{{pedido.direccion}}</div>
			</div>
			<div class="row">
				<div class="col tableindex tablecontent">N° pedido</div>
				<div class="col tablecontent">{{pedido.pedido}}</div>
				<!--<div class="col tableindex tablecontent">N°</div>
					<div class="col tablecontent">13424</div>-->
			</div>
			<div class="row">
				<div class="col tableindex tablecontent">Latitud</div>
				<div class="col-75 tablecontent">{{latitud}}</div>
			</div>
			<div class="row">
				<div class="col tableindex tablecontent">Longitud</div>
				<div class="col-75 tablecontent">{{longitud}}</div>
			</div>
			<div class="row">
				<div class="col tableindex tablecontent">Precisión</div>
				<div class="col-75 tablecontent">{{precision}}</div>
			</div>
		</div>
		<!-- Inicio selects de pedidos -->
		<div ng-show="tipo=='P'|| tipo=='A'">
			<div class="list ">
				<label class="item item-input item-select">
					<div class="input-label">
						Estado pedido:
					</div>
					<select ng-model="$parent.estadop.value">
						<option ng-repeat="estado in estadopedido" ng-value="'{{estado.text}}'">{{estado.text}}</option>
					</select>
				</label>
			</div>
			<!-- Select si entregado-->
			<div class="list" ng-show="estadop.value=='Entregado'">
				<label class="item item-input item-select">
					<div class="input-label">
						Recibe Pedido:
					</div>
					<select ng-model="$parent.novedadp.value">
						<option ng-repeat="entrego in entregado" ng-value="'{{entrego.text}}'">{{entrego.text}}</option>
					</select>
				</label>
			</div>
			<!-- Select si no entregado-->
			<div class="list" ng-show="estadop.value=='No entregado'">
				<label class="item item-input item-select">
					<div class="input-label">
						Recibe Pedido:
					</div>
					<select ng-model="$parent.novedadp.value">
						<option ng-repeat="entrego in noentregado">{{entrego.text}}</option>
					</select>
				</label>
			</div>
		</div>
		<!-- Fin selects de pedidos -->

		<!-- Inicio selects de recojos -->
		<div ng-show="tipo=='R'|| tipo=='A'">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Estado Recojo:
					</div>
					<select ng-model="$parent.estador.value">
						<option ng-repeat="estado in estadorecojo" ng-value="estado.text">{{estado.text}}</option>
					</select>
				</label>
			</div>
			<!-- Select si recibido-->
			<div class="list" ng-show="estador.value=='Recibido'">
				<label class="item item-input item-select">
					<div class="input-label">
						Recibe Recojo:
					</div>
					<select ng-model="$parent.novedadr.value">
						<option ng-repeat="recojo in recibido" ng-value="estado.text">{{recojo.text}}</option>
					</select>
				</label>
			</div>
			<!-- Select si no recibido-->
			<div class="list" ng-show="estador.value=='No recibido'">
				<label class="item item-input item-select">
					<div class="input-label">
						Recibe Recojo:
					</div>
					<select ng-model="novedadr.value">
						<option ng-repeat="recojo in norecibido">{{recojo.text}}</option>
					</select>
				</label>
			</div>
		</div>
		<!-- Fin selects de recojos -->
		<div class="col center" ng-show="tipo=='P' || tipo=='A'">
			<ion-list>
				<ion-list-header>
					<h4><b>Inventario</b></h4></ion-list-header>
				<ion-radio ng-model="$parent.inventariado.value" ng-value="'S'">inventariado</ion-radio>
				<ion-radio ng-model="$parent.inventariado.value" ng-value="'N'">No Inventariado</ion-radio>
				<ion-radio ng-model="$parent.inventariado.value" ng-value="'I'">Inventariado Incompleto</ion-radio>
				</ion-list-header>
			</ion-list>
		</div>

		<div class="row">
			<div class="col center" ng-show="tipo=='P' || tipo=='A'">
				<button class="button tablecontent" ng-click="tomarFoto()">Foto 1</button>
			</div>
			<div class="col center" ng-show="tipo=='P' || tipo=='A'">
				<button class="button tablecontent" ng-click="tomarFoto2()">Foto 2</button>
			</div>
			<div class="col center" ng-show="tipo=='P' || tipo=='A'">
				<button class="button tablecontent" ng-click="tomarFoto3()">Foto 3</button>
			</div>
		</div>
		<div class="row">
			<div class="col center">
				<button class="button tablecontent" ng-click="enviar()">Enviar</button>
			</div>
			<div class="col center">
				<a href="#/lista">
					<button class="button tablecontent">Atras</button>
				</a>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="resize()" distance="50%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
