<ion-view view-title="Recojo">
	<div style="font-size:100%">
		<div class="row">
			<div class="col tableindex tablecontent" >Consecutivo:</div>
			<div class="col tablecontent">13424</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent">Orden de Cargue:</div>
			<div class="col tablecontent">123434</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent" >Cajas:</div>
			<div class="col tablecontent">1</div>
			<div class="col tableindex tablecontent">D.Ident:</div>
			<div class="col tablecontent">123434342</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent">Cliente:</div>
			<div class="col-75 tablecontent">Sandra Patricia Bernal Ortiz</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent">Dirección:</div>
			<div class="col-60 tablecontent">Clle 18b # 1-04 brasilia</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent">N° pedido</div>
			<div class="col tablecontent">123123123</div>
			<div class="col tableindex tablecontent">N° Boleta</div>
			<div class="col tablecontent">13424</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent">Latitud</div>
			<div class="col-75 tablecontent">1.7364753424</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent">Longitud</div>
			<div class="col-75 tablecontent">13.76865424</div>
		</div>
		<div class="row">
			<div class="col tableindex tablecontent">Precisión</div>
			<div class="col-75 tablecontent">13</div>
		</div>
	</div>
	<div>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Confirma:
		    </div>
		    <select>
		      <option>Blue</option>
		      <option selected>Green</option>
		      <option>Red</option>
		    </select>
		  </label>
		</div>
		<div class="list">
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Recibe:
	    </div>
	    <select>
	      <option>Blue</option>
	      <option selected>Green</option>
	      <option>Red</option>
	    </select>
	  </label>
	</div>
	</div>
	<div class="row">
		<div class="col center"><a href="#"><button class="button tablecontent">Enviar</button></a></div>
		<div class="col center"><a href="#/lista"><button class="button tablecontent">Atras</button></a></div>
	</div>
</ion-view>