/* Empty. Add your own CSS if you like */
.tableindex{
	font-weight:bold;
	border-color: #000;
}
.tablecontent{
	box-shadow: .10em .10em .10em .10em #793;
	padding-left: 10px;
	padding-top: 5px;
}
.center{
	padding-left: 20px;
}
.tipo-P{
	background-color: #55ff55;
}
.tipo-R{
	background-color: #FFFF55;
}
.item-complex .item-content{
	padding: 1px 5px 1px 5px;
}
